
@{
    ViewBag.Title = "VerMenu";
    ViewBag.TipoContainer = "container";
    Layout = "~/Views/Shared/_LayoutCaja.cshtml";
}

@section styles{
    <link href="~/Content/individual/verMenuStyle.css" rel="stylesheet" />    
}

<div class="row">
    <div class="col-12 col-md-6">
        <div id="img-plato-container">
            <p id="img-lcontainer" class="text-center">
                <img id="imagenProducto" src="~/images/imagenVacia.png" />
            </p>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="container-fluid">
            <div class="row">
                <div style="word-wrap: break-word" class="col-12 col-md-10">
                    <h2 id="nomPlato">NOMBRE PLATO</h2>
                    <div id="descripcionPlato-container">
                        <p class="text-white" id="descriptivoPlato"></p>
                    </div>
                </div>
                <div class="col-12 col-md-2">
                    <h3 id="nroPlatosVendidos">
                        
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="table-container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>CATEGORIA</th>
                        <th>PLATO</th>
                        <th>PRECIO</th>
                        <th>STOCK</th>
                    </tr>
                </thead>
                <tbody id="tbody-menus">

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <a href="@Url.Action("Index","Home")" class="btn btn-danger">Regresar</a>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/Individual/controlVerMenuTabla.js"></script>
    
}