@{
    ViewBag.Title = "Nazca Restaurante";
}

<div class="row">
    <div class="col-1 col-sm-1 col-md-2 col-lg-3 col-xl-2">
    </div>
    <div class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-8">
        <div>
            <a href="@Url.Action("Apertura","Caja")" class="btn btn-outline-warning btn-block">Apertura de Caja</a><br />
            <button class="btn btn-outline-warning btn-block">Atención de Mozos</button><br />
            <button class="btn btn-outline-warning btn-block">Ver Menú</button><br />
            <button class="btn btn-outline-warning btn-block">Cocina</button><br />
            <button class="btn btn-outline-warning btn-block">Atención de Caja</button><br />
            <button class="btn btn-outline-warning btn-block">Cerrar Sesión</button><br />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-1">
        <a href="@Url.Action("TipoCambio","Caja")" class="btn btn-outline-warning">Tipo de Cambio</a>
    </div>
</div>
