@model Nazca_Restaurant.Models.sp_login_Result

@{
    ViewBag.Title = "Nazca Restaurant";
}

<div class="row">
    <div class="col-1 col-sm-1 col-md-2 col-lg-3 col-xl-2">
    </div>
    <div class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-8">
        <div>
            @using (Html.BeginForm("Login", "Account", new
            {
                ReturnUrl = ViewBag.ReturnUrl
            }, FormMethod.Post, new
            {
                role = "form"
            }))
            {
                @Html.AntiForgeryToken()
               
                <div class="form-group">
                    <label for="chrCodUsr" class="sr-only">Usuario</label>
                    @Html.EditorFor(model => model.chrCodUsr, new { htmlAttributes = new { @class = "form-control text-center", placeholder = "Usuario" } })
                </div>
                <div class="form-group">
                    <label for="chrNomUsr" class="sr-only">Contraseña</label>
                    <input id="chrNomUsr" name="chrNomUsr" type="password" class="form-control text-center" placeholder="Contraseña" />
                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <input type="submit" class="btn btn-outline-warning btn-block" id="btnIngresar" value="Ingresar" />
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}